/ Header and Nav
-#.row
  -#.twelve.columns
    -#%ul.nav-bar
      -#%li
        -#= link_to "Link 1","#"
      -#%li
        -#= link_to "Link 2","#"
      -#%li
        -#= link_to "Link 3","#"
      -#%li
        -#= link_to "Link 4","#"
      -#%li
        -#= link_to "Link 5","#"
      -#%li
        -#= link_to "Link 6","#"
.top-bar.fixed
  %ul
    %li.name
      %h1=link_to "Title"
    %li.toggle-topbar
      =link_to " ","#"

  %section
    %ul.left
      %li
        =link_to "Link 1", "#"
      %li
        =link_to "Link 2", "#"
      %li
        =link_to "Link 3", "#"
    %ul.right
      %li.has-dropdown
        =link_to "Link","#"

        %ul.dropdown
          %li
            =link_to "Dropdown Link 1", "#"
          %li
            =link_to "Dropdown Link 2", "#"
          %li
            =link_to "Dropdown Link 3", "#"
            
